.task__button {
    background-color: green;
    color: white;
    border: none;
    width: 30px;
    height: 30px;   
}

.task__button:active {
    border:solid black 1px;
    border-radius: 1px;
}
.task__button:hover {
    background-color: rgb(0, 158, 0);
}

.task__button--remove {
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../images/kosz.png);
    background-repeat: no-repeat;
    background-position: center;
}

.task__button--remove:active {
    border:solid black 1px;
    border-radius: 1px;
}

.task__button--remove:hover {
    background-color: rgb(255, 59, 59);
}

.tasks {
    margin: 0;
    padding: 0;
}
